MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/empresarios?retryWrites=true&w=majority
PORT=3000
FRONTEND_URL=https://tu-frontend.onrender.com
JWT_SECRET=cambia_este_valor
EPAYCO_CUSTOMER_ID=
EPAYCO_P_KEY=
